<div class="page-wrapper displayCare">
  <div class="body no-padding sign-up">
    <div class='sign-up-banner'>
      <div class="overlay"></div>
      <div class="row">
        <div class="family-sign-up-box width-700">
          <h4>Tell us about your <%= @contract.patient_name %></h4>
          <p>What daily activities does <%= patient_gender(@contract.patient_name) %> need help with?</p>

          <%= form_tag(find_caretaker_step_index_path(id: @contract.id, next_step: :schedule), method: :put) do %>

              <% care_types.each do |c| %>
                  <div class="field no-width">
                    <%= label_tag c %>
                    <%= check_box_tag :care_type, c %>
                  </div>
              <% end %>

              <%= hidden_field_tag 'care_types' %>

              <div class="field no-width">
                <%= label_tag 'Any special care concerns or medical conditions? (optional)' %>
                <%= text_field_tag :headline, nil, id: 'care-concerns', placeholder: 'Arthritis, dementia, stroke, etc'%>
              </div>

              <div class="field no-width">
                <%= label_tag "Describe your #{@contract.patient_name} (optional)" %>
                <%= text_area_tag :description, nil, placeholder: "Example: My #{@contract.patient_name} is 81 and has early stage dementia. #{patient_gender(@contract.patient_name)} is very happy, energetic, with a good sense of humor. However, #{patient_gender(@contract.patient_name)} has #{third_person(patient_gender(@contract.patient_name))} bad days and would do well with a positive and patient caregiver. #{patient_gender(@contract.patient_name).capitalize} loves going outside and walking around the neighborhood park. While my #{@contract.patient_name} still needs help with daily tasks due to #{third_person(patient_gender(@contract.patient_name))} weak short term memory, #{patient_gender(@contract.patient_name)} is trying very hard to retain #{third_person(patient_gender(@contract.patient_name))} independence as long as possible." %>
              </div>

              <div class="action no-width">
                <%= submit_tag 'Next', class: 'btn blue care_type' %>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
