<div class="user-register-page container-large">

    <div class="content">
        <div class="row">

            <%= render partial: 'registration/tabs', locals: {active: "about"} %>

            <div class="reg-slider">
            <%= form_for current_user, url: update_caregiver_registration_path, method: 'patch', html: { autocomplete: 'off' } do |f| %>

                <div class="form-items">
                    <section class="form-item about-skills" data-tab="about">
                        <%= f.label "What are your top three skills/traits as a caregiver?", :class=>'title' %>
                        <span class="subtitle">(Click exactly 3 boxes that best apply)</span>
                        <div class="columns">
                            <% Service.skill.all.to_a.each_with_index do |skill_service, index| %>
                                <% if index % 5 == 0 %>
                                    <div class='column'>
                                <% end %>
                                    <div class="custom-checkbox">
                                        <%= check_box_tag "caregiver[skill_service_ids][]", skill_service.id, f.object.plucked_skill_service_ids.include?(skill_service.id), id: "caregiver_skill_service#{skill_service.id}", class: 'styled' %>
                                        <%= label_tag "caregiver[skill_service_ids][]", skill_service.name, for: "caregiver_skill_service#{skill_service.id}" %>
                                    </div>
                                <% if index % 5 == 4 %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <%= hidden_field_tag 'route', me_path %>
                    </section>
                </div>

                <div class="buttons">
                  <a href="#" class="back">< Go Back <span>to Previous Question</span></a>
                  <%= f.submit 'Save and Continue', class: 'btn-save' %>
                  <%= f.submit 'Save', class: 'btn' %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
