<div class="user-register-page container-large">
    <div class="content">
        <div class="row">

            <%= render partial: 'registration/tabs', locals: {active: "skills"} %>

            <div class="reg-slider">
            <%= form_for current_user, url: update_caregiver_registration_path, method: 'patch', html: { autocomplete: 'off' } do |f| %>

                <div class="form-items">
                    <div class="form-item credentials" data-tab="skills">

                        <label class="title">Do you have any of the following credentials?</label>
                        <span class="subtitle">(Click all boxes that apply)</span>

                        <div class="form-elements checkbox-list one-col">
                            <%= f.fields_for :credential do |credential| %>

                                <div class="credential">
                                    <div class="custom-checkbox">
                                        <%= credential.check_box :HHA, {class: 'styled'} %>
                                        <%= credential.label :HHA, 'Home Health Aide (HHA)' %>
                                    </div>
                                    <%= credential.text_field :HHANumber, :placeholder=>'License Number'  %>
                                </div>

                                <div class="credential">
                                    <div class="custom-checkbox">
                                        <%= credential.check_box :CNA, class: 'styled' %>
                                        <%= credential.label :CNA, 'Certified Nursing Aide (CNA)' %>
                                    </div>
                                    <%= credential.text_field :CNANumber, :placeholder=>'License Number' %>
                                </div>

                                <div class="credential">
                                    <div class="custom-checkbox">
                                        <%= credential.check_box :LVN, class: 'styled' %>
                                        <%= credential.label :LVN, 'Licensed Practicing Nurse (LPN)' %>
                                    </div>
                                    <%= credential.text_field :LVNNumber, :placeholder=>'License Number' %>
                                </div>

                                <div class="credential">
                                    <div class="custom-checkbox">
                                        <%= credential.check_box :RN, class: 'styled' %>
                                        <%= credential.label :RN, 'Registered Nurse (RN)' %>
                                    </div>
                                    <%= credential.text_field :RNNumber, :placeholder=>'License Number' %>
                                </div>

                                 <div class="credential">
                                    <div class="custom-checkbox">
                                        <%= credential.check_box :CPR, class: 'styled' %>
                                        <%= credential.label :CPR, 'CPR Certified' %>
                                    </div>
                                    <%= credential.text_field :CPRNumber, :placeholder=>'License Number' %>
                                </div>

                                <div class="custom-checkbox">
                                    <%= credential.check_box :other, class: 'styled' %>
                                    <%= credential.label :other, 'Other' %>
                                </div>

                            <% end %>
                        </div>
                        <%= hidden_field_tag 'route', hometown_path %>
                    </div>
                </div>


                <div class="buttons">
                    <a href="#" class="back">< Go Back <span>to Previous Question</span></a>
                    <%= f.submit 'Save and Continue', class: 'btn-save' %>
                    <%= f.submit 'Save', class: 'btn' %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
