<div class="user-register-page container-large">
    <div class="content">
        <div class="row">

            <%= render partial: 'registration/tabs', locals: {active: "basic"} %>

            <%= form_for current_user, url: update_caregiver_registration_path, method: 'patch', html: { autocomplete: 'off' } do |f| %>
            <div class="reg-slider">
                <section class="form-item language" data-tab="basic">

                    <%= f.label 'Do you speak another language other than English?', :class=>"title" %>
                    <span class="subtitle">(Click all boxes that apply)</span>

                    <div class="columns">
                        <% Language.all.order(:name).each_with_index do |language, index| %>

                            <% if index % 6 == 0 %>
                                <div class='column'>
                            <% end %>

                            <div class="custom-checkbox">
                                <%= check_box_tag "caregiver[language_ids][]", language.id, current_user.languages.include?(language), id: "caregiver_#{language.id}", class: 'styled' %>
                                <%= label_tag "caregiver[language_ids][]", language.name, for: "caregiver_#{language.id}"  %>
                            </div>

                            <% if index % 6 == 5 %>
                                </div>
                            <% end %>

                        <% end %>
                    </div>
                    <%= hidden_field_tag 'route', smoking_path %>
                </section>

                <div class="buttons">
                    <a href="#" class="back">< Go Back <span>to Previous Question</span></a>
                    <%= f.submit 'Save and Continue', class: 'btn-save' %>
                    <%= f.submit 'Save', class: 'btn' %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
