<div class="user-register-page container-large">
    <div class="content">
        <div class="row">

            <%= render partial: 'registration/tabs', locals: {active: "basic"} %>

            <div class="reg-slider">
            <%= form_for current_user, url: update_caregiver_registration_path, method: 'patch', html: { autocomplete: 'off' } do |f| %>
                <div class="form-item pets required" data-tab="basic">
                    <%= f.label 'How do you feel about pets?' , :class=>"title" %>
                    <div class="form-elements one-col">
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::LOVE[:value], id: "#{User::Pets::LOVE[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::LOVE[:label]}", for: "#{User::Pets::LOVE[:label].parameterize}" %>
                        </div>
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::ALLERGICDOGS[:value], id: "#{User::Pets::ALLERGICDOGS[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::ALLERGICDOGS[:label]}", for: "#{User::Pets::ALLERGICDOGS[:label].parameterize}" %>
                        </div>
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::ALLERGICCATS[:value], id: "#{User::Pets::ALLERGICCATS[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::ALLERGICCATS[:label]}", for: "#{User::Pets::ALLERGICCATS[:label].parameterize}" %>
                        </div>
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::ALLERGICBOTH[:value], id: "#{User::Pets::ALLERGICBOTH[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::ALLERGICBOTH[:label]}", for: "#{User::Pets::ALLERGICBOTH[:label].parameterize}" %>
                        </div>
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::DEPENDS[:value], id: "#{User::Pets::DEPENDS[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::DEPENDS[:label]}", for: "#{User::Pets::DEPENDS[:label].parameterize}" %>
                        </div>
                        <div class="custom-checkbox">
                            <%= f.radio_button :pets, User::Pets::NO[:value], id: "#{User::Pets::NO[:label].parameterize}", class: 'styled' %><%= f.label "#{User::Pets::NO[:label]}", for: "#{User::Pets::NO[:label].parameterize}" %>
                        </div>
                        <!--<p class="error-msg" style="display:none;">Pet preference is required</p>-->
                    </div>
                    <%= hidden_field_tag 'route', work_experience_path %>
                </div>

                <div class="buttons">
                    <a href="#" class="back">< Go Back <span>to Previous Question</span></a>
                    <%= f.submit 'Save and Continue', class: 'btn-save' %>
                    <%= f.submit 'Save', class: 'btn' %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
