<div class="page-wrapper">
  <div class="body no-padding sign-up">
    <div class='sign-up-banner'>
      <div class="overlay"></div>
      <div class="row">
        <div class="caregiver-sign-up-box ">
          <h4>Create Your Free Profile!</h4>
          <div class="register-form">

            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :method => :post ) do |f| %>
                <%= f.hidden_field :type, :value => 'Caregiver' %>

                <div class="field">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, placeholder: 'First Name' %>
                </div>

                <div class="field">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, placeholder: 'Last Name' %>
                </div>

                <div class="field">
                    <%= f.label "Email Address" %>
                    <%= f.email_field :email, placeholder: 'Email', required: 'true' %>
                </div>

                <div class="field">
                    <%= f.label "Create a Password" %>
                    <%= f.password_field :password, placeholder: 'Create a Password', :pattern => ".{6,}", :required => 'true', :title => "6 characters minimum", validate: { presence: true } %>
                </div>

                <div class="action">
                    <%= f.submit "Sign up", class: 'btn gray', value: "Let's Get Started!" %>
                </div>

            <% end %>
          </div>
            <p class="info">By clicking "Apply" you confirm that you accept the  <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'web/references' %>
  <%= render partial: 'caregivers/caregiver_faq' %>
</div>

<script>
$('#new_user').enableClientSideValidations();

$(function() {
  $('.field input').each(function() {
      $.data(this, 'default', this.value);
  }).css("color","gray")
  .focus(function() {
      if (!$.data(this, 'edited')) {
          this.value = "";
          $(this).css("color","black");
      }
  }).change(function() {
      $.data(this, 'edited', this.value != "");
  }).blur(function() {
      if (!$.data(this, 'edited')) {
          this.value = $.data(this, 'default');
          $(this).css("color","gray");
      }
  });
});

$(document).ready(function(){
  $('.left img').load(function(){
      $('.left').delay(200).queue(function(){$(this).addClass('show-quote')});
  });

  var checkFields = function() {
    if($('#user_first_name').val().length > 0 &&
      $('#user_last_name').val().length > 0 &&
      $('#user_email').val().length > 0 &&
      $('#user_password').val().length > 5) {
          $('#new_user input[type=submit]').addClass('green');
      } else {
          $('#new_user input[type=submit]').removeClass('green');
      }
  }

  $('.field input').keyup(function(){
      checkFields();
  });
  $('.home-find-perfect').hide();
});

</script>
