<div class="how-it-works-page">
	<section class="banner-static">
		<div class="row">
			<div class="video">
				<i class="fa fa-play-circle-o"></i>
				<img src="<%= asset_path('v2/how-it-works/video.jpg') %>">
				<video>
					<source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
				</video>
			</div>
			<div class="descr">
				<h2>You're Not Alone</h2>
				<p>“I know how tough it is to find the right caregiver after a personal experience searching for a caregiver for my own dear mother who was recovering from cancer surgery.”</p>
				<p class="author">
				- Darren Wendroff<br/>
				CareSpotter Founder
				</p>
				<a href="#" class="btn">Start Searching Caregivers</a>
			</div>
		</div>
	</section>

	<section class="how-it-works">
		<div class="row">
			<h2>How Carespotter Works</h2>
			<h3>CareSpotter is the easiest way to find local, professional caregivers to help with your care needs, big and small.</h3>
		</div>
		<div class="feature text-left first">
			<div class="row">
				<div class="descr">
					<h3>We find the best local,<br/> professional caregivers</h3>
					<p>Our 5 step screening process ensures you connect with trained, experienced caregivers who will care for your loved one like a member of their own family.</p>
				</div>
				<img src="<%= asset_path('v2/how-it-works/feature1.png') %>">
			</div>
		</div>
		<div class="feature text-right bg-gray second">
			<div class="row">
				<div class="descr">
					<h3>Post a care job and easily browse qualified, local caregivers</h3>
					<p>Search by gender, language, skills and more, and when you find several qualified applicants, we help you interview and hire your potential caregiver.</p>
				</div>
				<img src="<%= asset_path('v2/how-it-works/feature2.png') %>">
			</div>
		</div>
		<div class="feature text-left third">
			<div class="row">
				<div class="descr">
					<h3>Keep family updated through our secure, online care manager</h3>
					<p> Our cloud based care manager lets you communicate with your caregiver with any device, and.</p>
					<a href="#" class="btn">Find a Caregiver Now!</a>
				</div>
				<img src="<%= asset_path('v2/how-it-works/feature3.png') %>">
			</div>
		</div>
	</section>

	<!-- <section class="payment">
		<div class="row">
			<h3>How Does Payment Work?</h3>
			<ul>
				<li class="trans large-6 small-12 columns">
					<h4>Transparent hourly prices</h4>
					<p>Once you post a care job, we notify you when caregivers apply or you can invite caregivers to apply to your job directly.</p>
				</li>
				<li class="safe large-6 small-12 columns">
					<h4>Secure, cash-free payments</h4>
					<p>The entire payment process (including reimbursements) is handled securely online. There's no need for cash to change hands.</p>
				</li>
				<li class="service large-6 small-12 columns">
					<h4>Service fee</h4>
					<p>CareSpotter takes a 15% service fee on each job so we can provide 24/7 Member Services support and full insurance on every care task.</p>
				</li>
				<li class="taxes large-6 small-12 columns">
					<h4>Year and taxes</h4>
					<p>CareSpotter also handles the 1099 reporting for your caregiver, giving you and the caregiver a complete yearend report at tax time.</p>
				</li>
			</ul>
		</div>
	</section> -->
<section class="guarantee">
		<div class="row">
			<h3>The CareSpotter Guarantee</h3>
			<ul>
				<li class="screen large-4 small-12 columns">Strict screening process<br/> means the very best caregivers</li>
				<li class="insurance large-4 small-12 columns">If you don't find a great caregiver<br/> we refund your care job 100%</li>
				<li class="help large-4 small-12 columns">Our Care Coaches are<br/> here to help 24/7</li>
			</ul>
		</div>
	</section>


	<section class="better-way">
		<div class="row">
			<h2>The Better Way to Hire</h2>
			<div class="col first">
				<h3>CareSpotter</h3>
				<ul>
					<li>
						<h4>Affordable</h4>
						<p>Families save 30 to 40% with CareSpotter versus using an agency and can hire short term caregivers easily.</p>
					</li>
					<li>
						<h4>Low Turnover</h4>
						<p>CareSpotter caregivers earn a living wage, lowering turnover and resulting in more engaged, dedicated caregivers.</p>
					</li>
					<li>
						<h4>Your Choice</h4>
						<p>No one knows your loved one better than you, leading to the best caregiver matched for your loved one.</p>
					</li>
					<li>
						<h4>High Caregiver Satisfaction</h4>
						<p>CareSpotter caregivers earn a living wage and are better matched with families, meaning a more effective care for you.</p>
					</li>
					<li>
						<h4>Empowering</h4>
						<p>Finding the perfect caregiver empowers an entire family, knowing their loved one is properly supported and cared for.</p>
					</li>
				</ul>
			</div>
			<p>vs</p>
			<div class="col second">
				<h3>Agencies</h3>
				<ul>
					<li>
						<h4>Expensive</h4>
						<p>Agencies charge up to $30 an hour and don't often have affordable options for short term hires.</p>
					</li>
					<li>
						<h4>High Turnover</h4>
						<p>Poor wages lead to high caregiver turnover, which is stressful for patients who lose their caregiver.</p>
					</li>
					<li>
						<h4>Hit or Miss</h4>
						<p>Families aren't able to choose their own caregiver, leaving a good caregiver to patient match to chance.</p>
					</li>
					<li>
						<h4>Difficult for Caregivers</h4>
						<p>Agencies pay poorly and shuffle caregivers among different clients, hurting the caregiver/patient relationship.</p>
					</li>
					<li>
						<h4>Demoralizing</h4>
						<p>Expensive fees and not being able to choose their own caregiver is very stressful for families.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	
	<section class="safety">
		<div class="layer"></div>
		<div class="descr">
			<div class="row">
				<h3>We’re Big on Safety</h3>
				<h4>Caregivers go through an extensive screening process before they can join the CareSpotter community</h4>
				<ul class="features">
					<li>Identity Check</li>
					<li>On Demand Criminal Background Check</li>
					<li>We Guide you Through Interview Process</li>
					<li>Transparent, Detailed Profiles</li>
					<li>Only experienced, professional caregivers accepted</li>
					<!-- <li>Entrance Exam for Compassion, Technical Ability and Professionalism</li> -->
				</ul>
			</div>
		</div>
		<img src="<%= asset_path('v2/how-it-works/Safety-is-Top-Concern_Stretched3.jpg') %>" alt="" />
	</section>

	<%= render partial: 'web/references' %>
</div>
