<div class="static-page">

    <header>
        <h2>About Us</h2>
    </header>

    <section class="team main to-columns">

        <div class="small-side-nav">
            <div class="sidebar-scrolling">
                <%= render partial: 'web/menu_about', locals: { act: 'team' } %>
            </div>
        </div>

        <div class="main-col">
            <section>
                <h3>Meet our team</h3>
                <div class="row">
                    <div class="team-members">
                        <div class="member">
                            <%= image_tag('team/Darren_Wendroff.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Darren Wendroff</h4>
                            <h5>Founder</h5>
                        </div>
                        <div class="member">
                            <%= image_tag('team/Kyle_Szives.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Kyle Szives</h4>
                            <h5>Lead Developer</h5>
                        </div>
                        <div class="member">
                            <%= image_tag('team/Brian_Wendroff.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Brian Wendroff</h4>
                            <h5>CFO</h5>
                        </div>
                        <div class="member">
                            <%= image_tag('team/Pawel_Hersztowski.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Pawel Hersztowski</h4>
                            <h5>Product Design Consultant</h5>
                        </div>
                        <div class="member">
                            <%= image_tag('team/Kamil_Matuszewski.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Kamil Matuszewski</h4>
                            <h5>Designer</h5>
                        </div>
                        <div class="member">
                            <%= image_tag('team/Pawel_Wcislak.jpg') %>
                            <div class="contact">
                                <a href="#" class="facebook"></a>
                                <a href="#" class="mail"></a>
                                <a href="#" class="twitter"></a>
                            </div>
                            <h4>Pawel Wcislak</h4>
                            <h5>Developer</h5>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>

</div>